.App {
  padding: 30px;
  height: 100vh;
}

.Todolist {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  margin: 0 auto;
}

.AddTask {
  border: 1px solid #dedede;
  border-radius: 10px;
  width: 180px;
  padding: 10px;
}
